.database-image {
  width: 675px;
  height: 80%;
}

.photo-container {
  text-align: center;
}

.title-container {
  margin-bottom: 100px;
}

.summary-container {
  text-align: center;
}

.gem-container {
  text-align: left;
  margin-left: 200px;
}

.summary-photo-container {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
