// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.collector-orders {
  text-align: left;
  margin-bottom: 120px;
  align-items: center;
  justify-content: center;
  display: grid;
  background-color: $Medium-Green;
  padding: 25px;
  border-radius: 25px;
  box-shadow: -.1em 0 .4em $Light-Green;
  width: 600px;
  margin-left: 80px;
}
