.order-confirmation {
  text-align: left;
  margin-bottom: 120px;
  align-items: center;
  justify-content: center;
  display: grid;
  background-color: $Medium-Green;
  margin-left: 380px;
  margin-right: 380px;
  padding: 50px;
  border-radius: 25px;
  box-shadow: -.1em 0 .4em $Light-Green;
}

.order-title {
  margin-bottom: 80px;
}


// css style for icons

.fa-location-arrow {
  width: 37px;
}

.fa-calendar {
  width: 37px;
}

.fa-calendar {
  width: 37px;
}

.fa-business-time {
  width: 37px;
}

.fa-wine-bottle {
  width: 37px
}

.fa-bicycle {
  width: 37px;
}

.fa-phone {
  width: 37px;
}
