  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/m-cwalina/PfandMe2.0"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/matthew-cwalina/"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Created with Ruby on Rails & Javascript
    </div>
  </div>
