<h4>This project is used with Ruby, PosgreSQL, Ruby on Rails, Stimulus, Javascript and HTML/CSS. The concept of the application is to connect a user with a collector automatically based on distance.</h4>
