<div class="container">
  <h1>Recent Orders</h1>
  <% current_user.appointments.each do |appointment| %>
    <p><%= appointment.date %></p>
    <p><%= appointment.picker.name  %></p>
    <p><%= appointment.bottle %></p>
  <% end %>
</div>
<div class="container">
  <h1>Bottles Donated</h1>
  <%=current_user.appointments.sum(:bottle)%>
</div>
