<div class="container">
  <h1>Recent Orders</h1>
  <% @past_orders.each do |order| %>
    <p><%= order.date %></p>
    <p><%= order.picker.name  %></p>
    <p><%= order.bottle %></p>
  <% end %>
</div>
<div class="container">
  <h1>Bottles Donated</h1>
  <%= @bottles %>
</div>
