<h1>PfandMe</h1>
<%=link_to new_user_registration_path do %>
  <div type="button" class="btn btn-primary">Sign Up</div>
<% end %>
<%=link_to new_user_session_path do %>
  <div type="button" class="btn btn-primary">Sign In</div>
<% end %>
<%= link_to destroy_user_session_path do %>
  <div type="button" class="btn btn-primary">Sign Out</div>
<% end %>
<%= link_to new_appointment_path do %>
  <div type="button" class="btn btn-primary">Donate Bottles</div>
<% end %>
