// Graphical Variables
@import "config/colors";
// External Libraries
@import "bootstrap/scss/bootstrap";
// CSS Partials
@import "components/index";
@import "pages/index";

body {
  background-color: #164A41;
}

html {
  position: relative;
  min-height: 100%;
}

h1 {
  font-size: 50px;
}
